 {
  padding: 0;
  box-sizing: border-box;
}

section div .banner {
  width: 100%;
}

header .list-prin {
  display: flex;
  justify-content: space-between;
}

header .txt-style-nav {
  color: rgba(128, 128, 128, 0.685);
  font-family: monospace;
  font-size: 30px;
  margin: 0 auto;
  background: linear-gradient(to bottom, grey, transparent);
}
main {
    background-color: radial-gradient(to right, grey, rgba(41, 38, 38, 0.301));
}

header .nav-bar {
  background: linear-gradient(to top, grey, transparent);
}

footer h2 {
  color: rgba(128, 128, 128, 0.685);
  font-family: monospace;
  font-size: 20px;
}
